/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/* Fondo del menú */


.split-menu-button:hover {
    -fx-background-color: #2E5D4D;
}

/* Texto */
.split-menu-button:hover .label {
    -fx-text-fill: white;
}


.split-menu-button .arrow-button {
    -fx-background-color: #428F73;
}

.split-menu-button {
    -fx-background-color: #1f1208;
}

.split-menu-button:hover {
    -fx-background-color: 265242;
}


/* Fondo del menú */
.context-menu {
    -fx-background-color: #2B3034;
}

/* Items normales */
.menu-item {
    -fx-background-color: transparent;
}

/* Texto normal */
.menu-item .label {
    -fx-text-fill: #FDF6E3;
}

/* 🔥 Hover (cuando pasas el mouse) */
.menu-item:focused {
    -fx-background-color: white;
}

/* Texto en hover */
.menu-item:focused .label {
    -fx-text-fill: white;
}



/*BOTTON */

.boton-estilo {
    -fx-background-color: linear-gradient( #2E5D4D, #2E5D4D);
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-radius: 6;
    -fx-cursor: hand;


}

/* Hover */
.boton-estilo:hover {
    -fx-background-color: linear-gradient(265242, 265242);
}

/* Click */
.boton-estilo:pressed {
    -fx-background-color: #245144; /* más oscuro */
    -fx-translate-y: 2; /* efecto de hundido */
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
}


















.input-dark {
    -fx-background-color: transparent;
    -fx-border-color: #183153;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #183153;
    -fx-font-size: 14px;
    -fx-padding: 5 2 5 2;
}

.input-dark:focused {
    -fx-border-color: #00c3ff;
}

.input-dark:hover {
    -fx-border-color: #5aa9ff;
}

.input-contrast {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #9aa4b2;

    /* solo línea inferior */
    -fx-border-color: transparent transparent #cfd6e4 transparent;
    -fx-border-width: 0 0 1.5 0;

    -fx-font-size: 14px;
    -fx-padding: 6 2 6 2;
}

/* hover suave */
.input-contrast:hover {
    -fx-border-color: transparent transparent #e2e8f0 transparent;
}

/* focus (el importante) */
.input-contrast:focused {
    -fx-border-color: transparent transparent #183153 transparent;
    -fx-border-width: 0 0 2 0;
}
